In [18]:
def even_odd(x):
    if(x%2==0):
        return "even"
    else:
        return "odd"

In [19]:
even_odd(10)

'even'

In [20]:
even_odd(11)

'odd'

In [21]:
def even_odd(x):
    if(x%2==0):
        return "divisble by 2"
    elif(x%3==0):
        return "divisible by 3"
    else:
        return "others"

In [22]:
even_odd(50)

'divisble by 2'

In [23]:
even_odd(71)

'others'

In [24]:
def pos_neg(x):
    if(x > 0):
        return "number is positive"
    else:
        return "number is negative"

In [25]:
pos_neg(15)

'number is positive'

In [26]:
pos_neg(-15)

'number is negative'

In [27]:
def mul(a, b, c):
    return (a*b*c)

In [28]:
mul(10,20,20)

4000

In [29]:
d = lambda x: x * 2 # inline or lambda

In [30]:
d(2)

4

In [31]:
d(5)

10

In [32]:
def mul_by_two(x):
    return x*2

In [33]:
mul_by_two(7)

14

In [34]:
my_add_lambda = lambda x,y : x+y

In [35]:
my_add_lambda(10,20)

30

In [36]:
def my_add(x,y):
    return(x+y)

In [37]:
def squ(x):
    return(x**2)

In [38]:
squ(3)

9

In [39]:
my_squ_lambda = lambda x: x**2

In [40]:
my_squ_lambda(5)

25

In [41]:
range(50)

range(0, 50)

In [42]:
my_list = range(50)

In [43]:
even_list = []

In [44]:
for i in my_list:
    if(i%2==0):
        even_list.append(i)
print(even_list)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48]

In [45]:
my_even_list2 = filter(lambda x : x%2 !=0,my_list)

In [46]:
print(list(my_even_list2))

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49]

In [47]:
my_list_div3 = filter(lambda x : x%3 == 0,my_list)

In [48]:
print(list(my_list_div3))

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

In [49]:
def div_4(x):
    return(x%4==0)

In [50]:
div_4_v = filter(div_4, my_list)

In [51]:
print(list(div_4_v))

[0, 4, 8, 12, 16, 20, 24, 28, 32, 36, 40, 44, 48]

In [52]:
my_even_list5 = filter(lambda x : x%2 ==0,my_list)

In [53]:
print(list(my_even_list5))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48]

In [60]:
my_odd_list6 = filter(lambda x : x%2 !=0,my_list)

In [61]:
print(list(my_odd_list6))

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

In [64]:
my_list = range(100)

In [65]:
list(my_even_list)

NameError: name 'my_even_list' is not defined

In [ ]:
def my_even_odd(my_list):
    my_even_list = filter(lambda(x: x%2 ==0,my_list))
    my_odd_list = filter(lambda(x: x%2 !=0, my_list))
    return my_even_list, my_odd_list

In [59]:
def my_even_odd(my_list):
    x = filter(lambda(x: x%2 ==0,my_list))
    y = filter(lambda(x: x%2 !=0, my_list))
    return x,y

SyntaxError: invalid syntax (<ipython-input-59-ac435c8c1a5d>, line 2)

In [ ]:
z = range(100)

In [58]:
my_even_list, my_odd_list = my_even_odd(z)

NameError: name 'my_even_odd' is not defined

In [66]:
range(100)

range(0, 100)

In [69]:
my_list = range(20)

In [72]:
for  i in my_list:
    print(i*i)

0
1
4
9
16
25
36
49
64
81

In [73]:
my_list2 = map(lambda x : x*2, my_list)

In [74]:
print(list(my_list2))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [81]:
my_list2 = map(lambda x : x*2, my_list)

In [78]:
print(list(my_list3))

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [82]:
def my_list_square(x):
    return x**2

In [83]:
my_list4 = map(my_list_square, my_list)

In [84]:
print(list(my_list4))

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]