## Hello World

In [4]:
print("Hello World")

Hello World

## Data Types
### int

In [5]:
a = 10

In [6]:
print(a)

10

In [7]:
print(type(a))

<class 'int'>

In [8]:
b = 10.5
print(b)
print(type(b))

10.5
<class 'float'>

In [9]:
my_string_var = "hello"

In [10]:
print(my_string_var)

hello

In [11]:
print(type(my_string_var))

<class 'str'>

In [12]:
print(10>5)

True

In [13]:
bool_value = 100 < 50

In [14]:
print(bool_value)

False

In [15]:
print(type(bool_value))

<class 'bool'>

In [16]:
my_list1 =  [10,20,30]

In [17]:
print(my_list1)

[10, 20, 30]

In [18]:
print(type(my_list1))

<class 'list'>

In [19]:
my_list2 = [10,20.5, "hello", True]

In [20]:
print(my_list2)

[10, 20.5, 'hello', True]

In [21]:
print(type(my_list2))

<class 'list'>

In [22]:
my_list3 = [1,2,3,1,2,3]
print(my_list3)
print(type(my_list3))

[1, 2, 3, 1, 2, 3]
<class 'list'>

In [23]:
my_list3[0]

1

In [24]:
my_list3[3]

1

In [25]:
my_list3[-1]

3

In [26]:
a

10

In [27]:
my_list3

[1, 2, 3, 1, 2, 3]

In [28]:
my_list3[1:5]

[2, 3, 1, 2]

In [29]:
my_list3[2:5]

[3, 1, 2]

In [35]:
my_list3.append(100)

In [31]:
print(my_list3)

[1, 2, 3, 1, 2, 3, 100]

In [34]:
print(my_list2)

[10, 20.5, 'hello', True]

In [36]:
my_list3.append("hero")

In [37]:
print(my_list3)

[1, 2, 3, 1, 2, 3, 100, 10, 20.5, 'hello', True, 10, 20.5, 'hello', True, 100, 'hero']

### Homework

In [38]:
print(my_list1)

[10, 20, 30]

In [39]:
print(my_list2)

[10, 20.5, 'hello', True]

In [40]:
print(my_list3)

[1, 2, 3, 1, 2, 3, 100, 10, 20.5, 'hello', True, 10, 20.5, 'hello', True, 100, 'hero']

In [42]:
my_list1.extend(my_list2)

In [44]:
print(my_list1)

[10, 20, 30, 10, 20.5, 'hello', True]

In [45]:
my_list1.count(10)

2

In [46]:
my_list3.index(100)

6

In [47]:
my_list3.insert(6, "Burger")

In [48]:
print(my_list3)

[1, 2, 3, 1, 2, 3, 'Burger', 100, 10, 20.5, 'hello', True, 10, 20.5, 'hello', True, 100, 'hero']

In [49]:
my_list3.pop(10)

'hello'

In [50]:
print(my_list3)

[1, 2, 3, 1, 2, 3, 'Burger', 100, 10, 20.5, True, 10, 20.5, 'hello', True, 100, 'hero']

In [51]:
my_list3.remove("Burger")

In [52]:
print(my_list3)

[1, 2, 3, 1, 2, 3, 100, 10, 20.5, True, 10, 20.5, 'hello', True, 100, 'hero']

In [53]:
my_list3.reverse()

In [54]:
print(my_list3)

['hero', 100, True, 'hello', 20.5, 10, True, 20.5, 10, 100, 3, 2, 1, 3, 2, 1]

In [56]:
my_list4 = ['i', 'a', 'u', 'e', 'o']

In [57]:
print(my_list4)

['i', 'a', 'u', 'e', 'o']

In [58]:
my_list4.sort()

In [1]:
print(my_list4)

NameError: name 'my_list4' is not defined

In [61]:
print('Sorted list:', my_list4)

Sorted list: ['a', 'e', 'i', 'o', 'u']

In [62]:
my_list4.sort(reverse=True)

In [63]:
print(my_list4)

['u', 'o', 'i', 'e', 'a']

In [64]:
my_list3.clear()

In [65]:
print(my_list3)

[]

In [66]:
my_list4 = my_list1.copy()

In [67]:
print(my_list4)

[10, 20, 30, 10, 20.5, 'hello', True]

In [69]:
my_tuple = ("hi","hello","python","scala","big data","map reduce")

In [70]:
print(type(my_tuple))

<class 'tuple'>

In [71]:
my_tuple[4] = "hadoop"

TypeError: 'tuple' object does not support item assignment

In [72]:
my_tuple

('hi', 'hello', 'python', 'scala', 'big data', 'map reduce')

In [73]:
my_list_for_tuple = list(my_tuple)

In [74]:
type(my_list_for_tuple)

list

In [75]:
my_tuple = tuple(my_list_for_tuple)

In [76]:
type(my_tuple)

tuple

In [77]:
my_list = [1, 2, 3, 10, 10, 2, 3]

In [78]:
my_list

[1, 2, 3, 10, 10, 2, 3]

In [79]:
my_set_list = set(my_list)

In [80]:
my_set_list

{1, 2, 3, 10}

In [81]:
my_list = [1, 2, 3, 4, 5, 6, 6, 7, 7, 8]

In [82]:
my_list

[1, 2, 3, 4, 5, 6]

In [87]:
my_list[0] = 100

In [88]:
my_list

[100, 2, 3, 4, 5, 6]

In [83]:
type(my_list)

list

In [84]:
my_tuple = (1,2,3,4,5,6,5,2,6,3,2,7)

In [86]:
my_tuple

(1, 2, 3, 4, 5, 6, 5, 2, 6, 3, 2, 7)

In [85]:
type(my_tuple)

tuple

In [1]:
1+1

2

In [2]:
2*3

6

In [3]:
#dict => Key value

In [4]:
my_dict ={"name":"myname", "age": 29, 2:100}

In [5]:
type(my_dict)

dict

In [6]:
my_dict["name"]

'myname'

In [7]:
my_dict["age"]

29

In [8]:
my_dict[2]

100

In [15]:
my_new_list = [1,2,3,4,[4,5,['target','hello']]]

In [17]:
my_new_list[0]

1

In [19]:
my_new_list[4]

[4, 5, ['target', 'hello']]

In [20]:
my_new_list[3]

4

In [25]:
my_new_list[4][0]

4

In [26]:
my_new_list[4][2]

['target', 'hello']

In [27]:
my_new_list[4][2][0]

'target'

In [28]:
my_new_list[4][2][0][1]

'a'

In [29]:
list = [1,2,3,4]

In [30]:
tuple = (1,2,3,4)

In [31]:
set = {1,2,3,4}

In [32]:
dict = {1:2,3:4}

In [33]:
dict[1]

2

In [34]:
1>2

False

In [35]:
1,2

(1, 2)

In [36]:
1<2

True

In [37]:
1==2

False

In [38]:
a=1
b=2

In [39]:
if a < b:
    print('true')
else:
    print('false')

true

In [40]:
a = 10

In [41]:
if a==10:
    print('value of a is 10')
else:
    print('value of a is not 10')

value of a is 10

In [15]:
if  1 == 2:
    print('first')
elif 3 == 3:
    print('middle')
else:
    print('last')

middle

In [20]:
num = int(input("Enter a number: "))

Enter a number: 40

In [21]:
type(num)

int

In [22]:
if (num > 10) and (num < 20):
    print('Number is greater than 10')
elif (num >20) and (num < 30):
    print('Number is greater than 20')
else:
    print('Number is greater than 30')

Number is greater than 30

In [23]:
seq = [1,2,3,4,5,6]

In [31]:
for i in seq:
    print(i)

1
2
3
4
5
6

In [35]:
for i in seq:
    print('i+i')

i+i
i+i
i+i
i+i
i+i
i+i

In [38]:
my_list = ['hi','hello','abc']

In [40]:
for i in my_list:
    print(i[0])

h
h
a

In [64]:
l = range(20)

In [65]:
l

range(0, 20)

In [66]:
for i in l:
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [51]:
even_list = []

In [52]:
odd_list = []

In [67]:
for i in l:
    if(i%2==0):
        even_list.append(i)
    else:
        odd_list.append(i)
    else:
        others.append(i)

SyntaxError: invalid syntax (<ipython-input-67-af514ad551c2>, line 6)

In [61]:
even_listodd_list

[0,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 0,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 0,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 0,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28]

In [62]:
odd_list

[1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29]

In [34]:
for item in seq:

SyntaxError: unexpected EOF while parsing (<ipython-input-34-1ea51b9ac75c>, line 2)

In [54]:
l = range(30)

In [55]:
l

range(0, 30)

In [56]:
for i in l:
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29

In [47]:
list_div_by_2 = []

In [48]:
list_div_by_3 = []

In [1]:
programming_language = ["python","scala","java"]

In [2]:
len(programming_language)

3

In [3]:
range(3)

range(0, 3)

In [7]:
for i in range(3):
    print(i)

0
1
2

In [8]:
for p_language range(len(programming_language)):
    print(" I like {}".format(programming_language[p_language]))

SyntaxError: invalid syntax (<ipython-input-8-660577165403>, line 1)

In [9]:
list_city = ["hyd","dallas","delhi","mumbai"]

In [10]:
len(list_city)

4

In [12]:
city_range = range(len(list_city))

In [13]:
city_range

range(0, 4)

In [19]:
for i in city_range:
    print("I like {}".format(i))

I like 0
I like 1
I like 2
I like 3

In [20]:
i = 1
while i < 5:
    print('i is: {}'.format(i))
    i = i +1

i is: 1
i is: 2
i is: 3
i is: 4

In [21]:
3**2

9

### list comprehension

In [22]:
x = [1,2,3,4]

In [23]:
out = []
for item in x:
    out.append(item**2)
print(out)

[1, 4, 9, 16]

In [24]:
[item**2 for item in x]

[1, 4, 9, 16]

In [36]:
my_list = [5,6,7,8]

In [37]:
[i*i for i in my_list]

[25, 36, 49, 64]