In [1]:
def even_odd(x):
    if(x%2==0):
        return "even"
    else:
        return "odd"

In [2]:
even_odd(10)

'even'

In [3]:
even_odd(11)

'odd'

In [11]:
def even_odd(x):
    if(x%2==0):
        return "divisble by 2"
    elif(x%3==0):
        return "divisible by 3"
    else:
        return "others"

In [12]:
even_odd(50)

'divisble by 2'

In [13]:
even_odd(71)

'others'

In [14]:
def pos_neg(x):
    if(x > 0):
        return "number is positive"
    else:
        return "number is negative"

In [15]:
pos_neg(15)

'number is positive'

In [16]:
pos_neg(-15)

'number is negative'

In [17]:
def mul(a, b, c):
    return (a*b*c)

In [18]:
mul(10,20,20)

4000

In [19]:
d = lambda x: x * 2 # inline or lambda

In [20]:
d(2)

4

In [21]:
d(5)

10

In [22]:
def mul_by_two(x):
    return x*2

In [23]:
mul_by_two(7)

14

In [24]:
my_add_lambda = lambda x,y : x+y

In [25]:
my_add_lambda(10,20)

30

In [26]:
def my_add(x,y):
    return(x+y)

In [27]:
def squ(x):
    return(x**2)

In [28]:
squ(3)

9

In [29]:
my_squ_lambda = lambda x: x**2

In [30]:
my_squ_lambda(5)

25

In [31]:
range(50)

range(0, 50)

In [52]:
my_list = range(50)

In [53]:
even_list = []

In [54]:
for i in my_list:
    if(i%2==0):
        even_list.append(i)
print(even_list)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48]

In [55]:
my_even_list2 = filter(lambda x : x%2 !=0,my_list)

In [56]:
print(list(my_even_list2))

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49]

In [57]:
my_list_div3 = filter(lambda x : x%3 == 0,my_list)

In [63]:
print(list(my_list_div3))

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

In [59]:
def div_4(x):
    return(x%4==0)

In [60]:
div_4_v = filter(div_4, my_list)

In [62]:
print(list(div_4_v))

[0, 4, 8, 12, 16, 20, 24, 28, 32, 36, 40, 44, 48]

In [1]:
my_even_list5 = filter(lambda x : x%2 !=0,my_list)

NameError: name 'my_list' is not defined